<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.tecnm.tepic.ladm_u3_practica1_garciamoreno">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LADM_U3_Practica1_GarciaMoreno">
        <activity
            android:name=".ui.consultar.ActualizarAsignacion"
            android:exported="false" />
        <activity
            android:name=".ui.consultar.MostrarConsultaAsignacion"
            android:exported="false" />
        <activity
            android:name=".ui.consultar.ConsultarAsignacion"
            android:exported="false" />
        <activity
            android:name=".ui.consultar.ActualizarInventario"
            android:exported="false" />
        <activity
            android:name=".ui.consultar.Actualizar"
            android:exported="false" />
        <activity
            android:name=".ui.consultar.ConsultarInventario"
            android:exported="false" />
        <activity
            android:name=".ui.insertar.InsertarAsignacion"
            android:exported="false" />
        <activity
            android:name=".ui.insertar.InsertarInventario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LADM_U3_Practica1_GarciaMoreno.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>